.content-holder {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 11rem;
    font-size: 1.5rem;
    color: rgb(172, 172, 172);
}

.content {
    width: 50%;
    padding-bottom: 4rem;
}

.intro-wave {
    display: inline-block;
    position: relative;
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 8px;
}

.intro-wave img {
    -webkit-user-drag: none;
}

.role {
    margin-top: .8rem;
    color: rgb(228, 228, 228);
    font-size: 2rem;
}

.main {
    margin-top: .8rem;
}

.text-link {
    color: rgb(182, 88, 88);
    transition: all .1s;
}

.text-link:hover {
    color: rgb(200, 95, 95);
}

.about-nav {
    display: flex;
}

.about-nav-item {
    padding: 10px 15px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 1.3rem;
    background-color: rgb(255, 71, 71);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: all .2s;
}

.about-nav-item:hover {
    background-color: rgb(255, 109, 109);
}

.contact-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.contact {
    padding: 5px;
}

.contact-link {
    display: flex;
    width: 8rem;
}

.contact-image {
    position: relative;
    height: 2rem;
    width: 2rem;
    opacity: .7;
    filter: brightness(0) invert(.7);
    transition: all .1s;
}

.contact-text {
    margin-left: 10px;
    font-size: 1.5rem;
    transition: all .1s;
}

.contact:hover .contact-text {
    color: rgb(221, 221, 221);
}

.contact:hover .contact-image {
    filter: brightness(0) invert(1);
}

@media (max-width: 1550px) {
    .content {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .content-holder {
        margin-top: 9rem;
    }

    .content {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .content {
        font-size: 1.2rem;
    }

    .intro div {
        width: 1.2rem;
        height: 1.2rem;
    }
    
    .role {
        font-size: 1.6rem;
    }
}
