.footer {
    display: flex;
    justify-content: center;
    height: 5rem;
}

.contact-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 20rem;
    margin-top: 20px;
}

.contact-item-holder {
    padding: 5px;
}

.contact-item {
    display: flex;
}

.contact-item-image {
    position: relative;
    height: 2rem;
    width: 2rem;
    opacity: .7;
    filter: brightness(0) invert(1);
}

.contact-item span {
    margin-left: 10px;
    font-size: 1.5rem;
}
